<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Constant Reminder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00F1F25A1C57100C00D120A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00F1F26E1C57100C00D120A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00F1F2791C57100C00D120A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
